{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student House</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- jquery should be top -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

     <!-- semantic ui css -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    {% comment %} <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" /> {% endcomment %}
    <link href={% static "organization/js/darkpan/lib/owlcarousel/assets/owl.carousel.min.css" %} rel="stylesheet" />
    <link
      href={% static "organization/js/darkpan/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" %}
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    {% comment %} <link href="css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <link href={% static "organization/css/darkpan/bootstrap.min.css" %}
    rel="stylesheet" />
    <!-- Template Stylesheet -->
    {% comment %} <link href="css/style.css" rel="stylesheet"> {% endcomment %}
    <link href={% static "organization/css/darkpan/style.css" %} rel="stylesheet" />

  </head>

  <body style="background: #95d5b2">
    <div class="container-fluid position-relative d-flex p-0">
      <div class="container-fluid">
        {% comment %} <form method="POST"> {% endcomment %}
          {% comment %} {% csrf_token %}  {% endcomment %}
          {% comment %} {{form.email.label}} 
          {{form.email}} {% endcomment %}
          <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    
                    <form method="POST" action="#">
                        {% csrf_token %}
                            <div style="background: #fff" class="rounded p-4 p-sm-5 my-4 mx-3">
                                <div id="message" style="font-weight: bold; color: red; margin-top: 10px;">
                                    <p id='pMessage'>{{message}}</p>
                                </div>
                                <p style="font-weight: bold">Enter your email address below and we'll send you a link to reset your password.</p>
                                <div class="form-floating mb-3">
                                    {% comment %} {{form.email}}   {% endcomment %}
                                    <input style="background: #95D5B2; border: 1px solid #6c7293" name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>
                               
                                <button type="submit" class="btn btn-success py-3 w-100 mb-4">Send mail</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
          {% comment %} <input
            type="submit"
            class="btn btn-outline-primary my3"
            value="send mail"
          /> {% endcomment %}
        {% comment %} </form> {% endcomment %}
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src={% static "organization/js/darkpan/lib/chart/chart.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/easing/easing.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/waypoints/waypoints.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/owlcarousel/owl.carousel.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/tempusdominus/js/moment.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/tempusdominus/js/moment-timezone.min.js" %}></script>
    <script src={% static "organization/js/darkpan/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %}></script>


    <!-- Template Javascript -->
    <script src={% static "organization/js/darkpan/main.js" %}></script>

  </body>
</html>
