{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KiliPesa</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- jquery should be top -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- semantic ui css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
      integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
      integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />
  </head>

  <body style="background: #95d5b2">
    <div
      class="col-md-8"
      style="margin-left: 200px; padding-top: 45px; margin-top: 5px"
    >
      <legend style="font-weight: bold; font-size: 30px">
        Password reset sent
      </legend>
      <hr />
      <span style="font-size: 14px"
        >We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them
        shortly.</span
      >
      <p style="font-size: 14px">
        If you don’t receive an email, please make sure you’ve entered the
        address you registered with, and check your spam folder.
      </p>
    </div>
  </body>
  <html></html>
</html>
